<video
					controls
					preload
					>
					<source src="abadpuente.mp4" type="video/mp4">
					<source src="abadpuente.ogv" type="video/ogg">
			</video>
			<p>Somos Daniel y Guillermo, estudiantes de la ETSIT. Este proyecto blog forma parde de la asignatura SWCM. Nos apasionan los Hackathons porque es una forma increible de conocer gente motivada de cualquier rama, además de mejorar nuestras habilidades de programación.</p>
			<p>Curso 2012-2013</p>
